<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.SubjectAndStudentDao">

<insert id="saveAll" useGeneratedKeys="true" keyProperty="subjectAndStudents.id" keyColumn="id" parameterType="java.util.List">
    insert into `subject_and_student`(`subject_id`, `student_id`) values
    <foreach collection="subjectAndStudents" separator="," index="index" item="ss">
        (#{ss.subject.id}, #{ss.student.id})
    </foreach>
</insert>
</mapper>